<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <%- include('./ReusableComponents/BootstrapCDN.ejs') %>
    <style>
        /* Custom CSS for centering the canvas */
        #dashboard-container {
            display: flex;
            justify-content: center;
        }
        #canvas {
            width: 400px; /* Adjust the canvas size as needed */
            height: 400px; /* Adjust the canvas size as needed */
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Truck_1_info">
                        <label class="custom-control-label" for="Truck_1_info">&nbsp; Truck 1 &nbsp;</label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Truck_2_info">
                        <label class="custom-control-label" for="Truck_2_info">&nbsp; Truck 2 &nbsp;</label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Truck_3_info">
                        <label class="custom-control-label" for="Truck_3_info">&nbsp; Truck 3 &nbsp;</label>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="Truck_4_info">
                        <label class="custom-control-label" for="Truck_4_info">&nbsp; Truck 4 &nbsp;</label>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div id="dashboard-container" class="col-9">
                <canvas id="canvas"></canvas>
            </div>
            <div class="col-3">
                <!-- Bootstrap card for the vertical list -->
                <div class="card">
                    <div class="card-header">Truck Details</div>
                    <div class="card-body">
                        <!-- Vertical list for truck details -->
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <h5>Truck 1</h5>
                                <p>Current Position:</p> <span>x:</span><span id="truck1x"></span><span>y:</span><span id="truck1y"></span>
                                <p>Fuel: 80%</p>
                                <p>Remaining Capacity: 1200 lbs</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <h5>Truck 2</h5>
                                <p>Current Position:</p> <span>x:</span><span id="truck2x"></span><span>y:</span><span id="truck2y"></span>
                                <p>Fuel: 70%</p>
                                <p>Remaining Capacity: 1000 lbs</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <h5>Truck 3</h5>
                                <p>Current Position:</p> <span>x:</span><span id="truck3x"></span><span>y:</span><span id="truck3y"></span>
                                <p>Fuel: 90%</p>
                                <p>Remaining Capacity: 1500 lbs</p>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action">
                                <h5>Truck 4</h5>
                                <p>Current Position:</p> <span>x:</span><span id="truck4x"></span><span>y:</span><span id="truck4y"></span>
                                <p>Fuel: 90%</p>
                                <p>Remaining Capacity: 1500 lbs</p>
                            </a>
                            <!-- Add more truck details as needed -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="/Scripts/AdminDashboard.js"></script>